{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for task in tasks %}
            <form action="{% url 'edit_task' task.id %}" method="post">
                {% csrf_token %}
                <input type="checkbox" name="completed" value="True" {% if task.completed %} checked {% endif %} onchange="this.form.submit()">
                <input type="text" name="title" value="{{ task.title }}" required>
                <button type="submit" name="edit">Edit</button>
                <button type="submit" name="delete">Delete</button>
            </form>
            <li>{{ task.title }}
                {% if task.description %}: {{ task.description }}{% endif %}
            </li>
        {% endfor %}
    </ul>

    <form action="{% url 'add_task' %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" required>
        <!-- <input type="text" name="description" placeholder="Description"> -->
        <button type="submit">Add Task</button>
    </form>
</body>
</html>